@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Special+Elite&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

:root {
  --p600: #FD6A12;
  --p800: #C94C02;
  --s200: #EFE8D4;
  --g700: #32322D;
}

a:hover {
  color: var(--p600);
}

h1{
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  line-height: 3.75rem;
}

p{
  font-family: 'Special Elite', cursive;
  font-size: 1rem;
  line-height: 1.5rem;
}

body{
  background-color: var(--s200);
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 32px;
  max-width: 1440px;
  margin: 0px auto;
  gap: 217px;
  background: var(--s200);
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 66px;
  width: 677px;
  height: 42px;
}

li a{
  display: block;
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-size: 1.75rem;
  color: var(--g700);
  font-weight: 700;
  transition: 300ms;
}

.logo img{
    width: 434px;
    height: 64.28px;
}

.cover{
  margin: 0px auto;
  max-width: 1440px;
  margin-bottom: 96px;
}

.cover img{
    width: 100%;
}

.tour{
    max-width: 1170px;
    margin: 0px auto;
    text-align: center;
}

.bio-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 128px 0px 96px;
  gap: 162px;
  margin: 0px auto;
  max-width: 1170px;
}

.bio-image img{
  flex: none;
  order: 0;
  flex-grow: 0;
  max-width: 562px;
}

.bio-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: 446px;
  min-height: 380px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.btn{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  height: 48px;
  border: none;
  font-family: 'Special Elite', cursive;
  font-size: 1rem;
  background: var(--p800);
  color: var(--s200);
  transition: 300ms;
}

.btn:hover{
  background: var(--p600);
  color: var(--g700);
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  
  width: 100%;
  min-height: 256px;
  left: 0px;
  bottom: 0px;
  background-color: var(--g700);
  color: var(--s200);
}

.social-media{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 76px;

  width: 385px;
  height: 40px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.social-media img{
  width: 40px;
}

/*TABLET*/

@media (max-width: 1320px) {
  .navbar{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 32px 16px;
    max-width: 1440px;
    gap: 32px;
  }

  .logo img{
    width: 600px;
    height: 88.86px;
  }

  .bio-wrapper{
    flex-direction: column;
    padding: 96px 0px;
    gap: 96px;
    min-width: 634px;
  }

  .bio-image img{
    max-width: 634px;
  }
  
  .bio-text{
    justify-content: center;
    align-items: center;
    width: 634px;
    min-height: 356px;
  }
}

/*MOBILE*/

@media (max-width: 734px) {

  .navbar{
    flex-direction: column;
    align-items: center;
    padding: 24px 16px 0px;
    gap: 25px;
    
    margin: 0px auto;
    max-width: 390px;
    height: 134.28px;

    background:  var(--s200);
  }

  .logo img{
    width: 326px;
    height: 48.28px;
  }

  ul {
    justify-content: center;
    padding: 0px;
    gap: 25px;
    width: 358px;
    height: 27px;
  }

  li a{
    font-size: 1.125rem;
  }

  .cover{
    margin-bottom: 40px;
  }

  .tour h1{
    font-size: 24px;
    margin: 0px;
  }

  .bio-wrapper{
    flex-direction: column;
    padding: 24px 0px;
    gap: 40px;
    min-width: 327px;
  }
  
  .bio-image img{
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 327px;
  }
  
  .bio-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;

    font-size: 14px;
    
    width: 326px;
    min-height: 354px;

    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .bio-text .btn {
    gap: 10px;
    margin-top: 12px;
  }

  .bio-text h1{
    font-size: 24px;
    line-height: 36px;
  }

  .footer {
    margin-top: 40px;
  }

  .footer p{
    width: 240px;
    text-align: center;
  }

  .footer .social-media{
    gap: 26.67px;
    width: 240px;
  }
}
